doctype html
html(lang='en')
  head
  body#page-top.index
    // Header
    header
      .container
        .intro-text
          .intro-lead-in Designing in Code
          .intro-heading Getting Started with HTML Prototyping
          a.page-scroll.btn.btn-xl(href='#services') Tell Me More




